<%- include('../header') %>
          <div class="row text-center">
                <div class="col-md-12">
                <h2>Nova Categoria</h2>
                  <a href="/categoria"><i class="fas fa-back"></i></a>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h2><%= categoria.categoria %></h2>
                    <form method="POST" action="/categoria/editar/<%= categoria.id %>" class>
                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <input  type="categoria" class="form-control" name="categoria" value="<%= categoria.categoria %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
</body>
</html>
