<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fullstack Lab</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><i class="fab fa-stack-overflow"></i> Fullstack LAB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/categoria">Categorias <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                        <a class="nav-link" href="/Posts">Posts <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>

            <div class="row" style="margin-top: 25px">
                <div class="col-md-2" style="margin: 20px 10px">
                    <a href="/categoria/novo" class="btn btn-primary"><i class="fas fa-plus"></i> Adicionar nova Catagoria</a>
                </div>
                <div class="col-md-8">
                    <Table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Nome da Categoria</td>
                                <td width="100" class="text-center">Ações</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% categorias.forEach(categoria => { %>
                                <tr>
                                    <td>
                                        <%= categoria.categoria %> 
                                    </td>
                                    <td class="text-center">
                                        <a href="/categoria/excluir/<%= categoria.id %>"><i class="fas fa-trash-alt"></i></a> | 
                                        <a href="/categoria/editar/<%= categoria.id %>"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </Table>
                </div>
            </div> 
    </div>
</body>
</html>