<%- include('../header') %>

            <div class="row" style="margin-top: 25px">
                <div class="col-md-2" style="margin: 20px 10px">
                    <a href="/categoria/novo" class="btn btn-primary"><i class="fas fa-plus"></i> Adicionar nova Catagoria</a>
                </div>
                <div class="col-md-8">
                    <Table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>Nome da Categoria</td>
                                <td width="100" class="text-center">Ações</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% categorias.forEach(categoria => { %>
                                <tr>
                                    <td>
                                        <%= categoria.categoria %> 
                                    </td>
                                    <td class="text-center">
                                        <a href="/categoria/excluir/<%= categoria.id %>"><i class="fas fa-trash-alt"></i></a> | 
                                        <a href="/categoria/editar/<%= categoria.id %>"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </Table>
                </div>
            </div> 
</body>
</html>