<%- include('../header')%>

        <div class="container" style="margin-top: 50px">
            <h2>Aplicação criada no Workshop Fullstack Lab promovido pela <a href="https://www.devpleno.com/fullstacklab/" target="_blank">Dev Pleno</a></h2>
            <img src="https://www.devpleno.com/wp-content/uploads/2018/10/logo-fsl-1024x183.png">

            <a class="btn btn-dark" target="_blank" href="https://github.com/TheNeoCarvalho/como-fazer"><i class="fab fa-github"></i> Repositório no github</a>

        </div>
</body>
</html>