<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fullstack Lab</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><i class="fab fa-stack-overflow"></i> Fullstack LAB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/categoria">Categorias <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/posts">Posts <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="row text-center">
                <div class="col-md-12">
                <h2>Novo Post</h2>
                  <a href="/posts"><i class="fas fa-back"></i></a>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <form method="POST" action="/posts/novo" class>
                        <div class="form-group">
                            <label for="categoria">Post</label>
                            <input placeholder="Título do Post" type="text" class="form-control" name="post">
                        </div>
                        <div class="form-group">
                            <label for="msg">Mensagem</label>
                            <textarea  class="form-control" name="msg">
                                
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>

    </div>
</body>
</html>
